hello account
<p>ID: {{user.id}}</p>
<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>
<p>{{id}}</p>
{{user.first_name}}
{{user.last_name}}
{{user.email}}
<p>- - - - </p>
<p>Gender</p>
<p>{{user.gender}}</p>

{{#if fromInsta}}
INSTAGRAM
{{/if}}

{{#if fromFacebook}}
FACEBOOK
{{/if}}