<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>

<h1>{{profile.first_name}} {{profile.last_name}}</h1>
<h3>E-mail: {{profile.email}}</h3>
<p>- - - - </p>
<p>Gender: {{profile.gender}}</p>

<a href="/logout"><b>LOGOUT</b></a>