<center>
<h1>First: {{profile.first_name}}</h1>
<h1>Last: {{profile.last_name}}</h1>
<h4>Display Name: {{user.displayName}}</h4>
<h4>E-mail: {{profile.email}}</h4>
<h4>Gender: {{profile.gender}}</h4>

<a href="/logout"><b>LOGOUT</b></a>

</center>