hello account
<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>
<p>{{id}}</p>
<h1>{{user.first_name}} {{user.last_name}}</h1><br>
<h3>E-mail: {{user.email}}</h3>
<p>- - - - </p>
<p>Gender: {{user.gender}}</p>

<a href="/logout"><b>LOGOUT</b></a>