<center>
<h1>First: {{profile.first_name}}</h1>
<h1>Last: {{profile.last_name}}</h1>
<h4>Display Name: {{user.displayName}}</h4>
<h4>E-mail: {{profile.email}}</h4>
<h4>Gender: {{profile.gender}}</h4>

<a href="/story"><div class="btn btn-danger">Your Activity</div></a>

<container-fluid>
{{#each profile.data}} 
<div class="col-xs-6">{{story}}</div> <div class="col-xs-6"> {{id}}</div> 
{{/each}}
</container-fluid>

{{#each profile.body}}  {{id}} {{/each}}
<br>
<a href="/auth/instagram"><div type="button" class="btn btn-default">Go to <b>Photos</b></div></a>
<a href="/logout"><div class="btn btn-danger">Logout</div></a>
<br>

</center>